.Deck-Area-Container{
    background-color: #439775;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:22.5vh;
    width:65vw
}

.Player-Container{
    /* background-color: rgb(193, 193, 250); */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-left: 2.8em;
    height:3vh;
    width:10vw
}
.Player-Name{
    background-color: rgb(86, 86, 86);
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    height:3vh;
    width:10vw;
    font-size: larger;
    color: #ffffff;
    font-weight: 800;
}

.Deck-Area{
    background-color: #48BF84;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10vh;
    width:60vw
}
.Card-Container{
    background-color: #2A4747;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0.1em;
    height:3.75vh;
    width:0.90vw;
    border-radius: 0.1em;
}
