
.Sign-Up-Container{
    display:flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(199, 36, 36); */
    height:12.5vh;
    width: 70vw;
}

.Player-Name-Form{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height:10vh;
    width: 65vw;
}

.Player-1-Input{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(115, 255, 0);  */
    height:5vh;
    width: 10vw;
    margin-left: 2.5vw;
    margin-right: 0.5vw;
}

.Player-1-Name{
    height:3.5vh;
    width: 10vw;
    font-size: larger;
}

.Player-2-Input{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgb(115, 255, 0); */
    height:5vh;
    width: 10vw;
    margin-left: 0.5vw;
    margin-right: 1.5vw;
}

.Player-2-Name{
    height:3.5vh;
    width: 10vw;
    font-size: larger;
}


.Button-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(115, 255, 0);
    height:5vh;
    width: 10vw;
    margin-left: 2vw;
    margin-right: 2.5vw;
    border-radius: 0.4em;
}

.Sign-Up-Button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #61D095;
    height:5vh;
    width: 10vw;
    border-radius: 0.4em;
}


.Current-Players{
    display:flex;
    justify-content:space-around;
    align-items: center;
    /* background-color: rgb(199, 36, 36); */
    border-bottom: 2px solid black;
    margin-left: 1.25em;
    height:12.5vh;
    width: 67.5vw;
}

.Player-1-Display{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E0BAD7;
    height:5vh;
    width:10vw;
}
.Player-2-Display{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #E0BAD7;
    height:5vh;
    width:10vw;
}

.Player-1-Display-Name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}


.Player-2-Display-Name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}