[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "*"
werkzeug = "*"
flask-migrate = "*"
alembic = "*"
pytest = "*"
psycopg-binary = "*"
python-dotenv = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask = "*"
flask-sqlalchemy = "*"
wtforms = "*"
flask-wtf = "*"

[dev-packages]

[requires]
python_version = "3.9"
